/* JP edits from 2014-04-16 */
/* dl.sub-nav dt {display:none;} */
/* dl.sub-nav dd {padding-left:0; margin-left:0;} */
ul.sub-nav {margin: 0; margin-top:0.7em; margin-bottom: 1em; border-bottom-color: rgb(216, 216, 216); border-bottom-style: solid; border-bottom-width: 1px;}
/* ul.sub-nav li {border:1px solid green;} */
ul.sub-nav li a {padding-left: 0;}
/* .label {border-radius: 3px;} */
td { vertical-align: top; }
div.pubtable table {margin-bottom: 0; padding-bottom: 0;}

@media only screen and (max-width: 64.063em) {
.pubtable {padding: 0; margin-left: 0;}
}

@media only screen and (min-width: 64.063em) {
.pubtable.left {padding-left: 0; margin-left: 0;}
.pubtable.right {padding-right: 0; margin-right: 0;}
}

ul.footer-links {margin-left:0; padding-top:0.3em;}

ul.footer-links li
{
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	color: rgb(34, 34, 34);
	cursor: default;
	display: block;
	float: left;
	font-size: 0.8em;
	font-style: normal;
	font-weight: bold;
	height: 19px;
	line-height: 19px;
	list-style-position: inside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0;
	padding-right: 0px;
	padding-top: 0px;
	text-align: text-align;
	text-transform: capitalize;
}

ul.footer-links li a {margin-right: 1em;}
a:hover {text-decoration: underline;}
.header a:hover, .tabs a:hover {text-decoration: none;}

div.footer-bottom {
background: #f2f2f2;
border-top: solid 1px #d8d8d8; 
border-bottom: solid 1px #d8d8d8; 
padding-left: 0.9em;
padding-right: 0.9em;
-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;

}


p.copyright {
/* margin: 4px 20px 4px 0.9em; */
font-size: 0.7rem;
color: #666;
}

.pubtable p a {text-decoration: underline;}

td, p, li, input {font-size: 0.8em !important;}

/* JP headers 2015-01-26 */
h1, h2, h3, h4, h5, h6 {color: #444;}

h1 {
  font-size: 1.3875rem !important;
  font-weight: bold;
  /* font-size: 2.125rem; */ 
  }

h2 {
  font-size: 1.275rem; }

h3 {
  font-size: 0.8rem !important; margin-bottom: 0; padding-bottom: 0; font-weight: bold;}

h4 {
  font-size: 0.7rem; }

h5 {
  font-size: 0.6rem !important; }

h6 {
  font-size: 0.5rem; }
 

 
ul.tabs li.active a {color:#fff !important; background-color:#002246 !important;}

html { 
  background: url('images/School_fallback_Mfs_2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sub-nav, .side-nav, .main-content {background-color: #fff;}
/* .backstretch:after,#background */
html:after{background-image:url('images/video_mask.png');position:fixed;width:100%;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=65);opacity:0.65;content:"";z-index:-1;top:0;left:0;right:0;bottom:0;}
div#wrapper {background-color:white;    -moz-box-shadow:    0 0 10px #000000;
   -webkit-box-shadow: 0 0 10px #000000;
   box-shadow:         0 0 10px #000000;}
.header {padding-left: 0; padding-right: 0;}
.side-nav {padding-left:0; padding-right:0;}
.side-nav input {margin-left:0.9em;}
div.large-9 {padding-left:0.9em; padding-right:0.9em;}

@media only screen and (min-width: 28.4em) {
ul.tabs li a, ul.tabs li a:hover { border-bottom: 1px #efefef solid !important; } 
ul.tabs li a:hover { border-bottom: 1px #e1e1e1 solid !important; } 
ul.tabs li.active a { border-bottom: 1px #002246 solid !important; } 
}


@media only screen and (max-width: 28.4em) {
ul.tabs li {width:100%;}
}

.tabs dd > a, .tabs .tab-title > a {padding: 0.5rem 1rem; font-size: 0.8rem;}

div.content {padding-top:0 !important;}

table tr td a {word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;}

	
ul.tabs li.tab-title:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 15px solid white;
    border-left: 15px solid #efefef;
    width: 0;
}	

ul.tabs li.tab-title:hover:before {
    border-left: 15px solid #e1e1e1;
}	

ul.tabs li.active:before, ul.tabs li.active:hover:before {
    border-left: 15px solid #002246;
}	

.header h1, .header h1 a
{
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;          
}

.side-nav li {margin:0; padding: 0;}
.side-nav li a {margin:0; padding: 0;}
.side-nav li span.label {margin:0;}
.sidebar form, .sidebar form input {margin-bottom: 0; padding-top: 0;}

dl.accordion-list, dl.ep_latest_list { font-size: 0.8em; font-weight: normal;}
.accordion-list dt, .ep_latest_list dt { border-top: 1px #dddddd solid;}

.show_hide
{
	width: 1.2em;
	height: 1.2em;
	padding: 0;
	margin: 0; 
	font-style: normal;
	font-size: 1.5em;	
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
}

a.show_hide
{
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	text-decoration: none;
}

.top-bar.expanded .toggle-topbar a {color:white;}

.tabs-content table, .tabs-content p {margin-bottom: 0;}
div.tabs-content {margin-bottom: 0;}
img.montage {margin-bottom: 1em;}
.side-nav li a:not(.button) {padding:0; margin:0.2em 0;}
.sidebar nav ul {padding-top:0; margin-top:0;}
p {font-size: 0.8em !important;}
li {font-size:0.8em !important;}
div.ep_latest_result {padding-bottom: 1.25rem;font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
font-size: 14px;} 
input#autocomplete {height:29px !important; padding-top:0.7em; width: 14em !important;}
a.button.tiny {float:right;}
.ep_view_timestamp {color: #666; font-size: 0.9em !important;}
#template_simple_search p {font-size: 0.8em; !important;margin-left:0.6em;}
select {padding-right:1.5em !important; background-position: 100% 0.6em !important;}
td.ep_multi_input, th.ep_multi_heading, td.ep_multi_help {vertical-align: top !important; padding:0 !important;}
/* table tr th, table tr td {padding:0 !important;} */
input {padding:0 !important;}
input.ep_form_action_button {border: 1px solid #6cb2b2; padding: 0.2em 0.8em 0.3em 0.8em !important; font-size: 0.8em !important;}
input.ep_form_action_button:hover {background-color: #0a4d46;}
.ep_summary_box_body, .ep_sr_content, .ep_tab_panel, .ep_toolbox_content, .ep_upload_doc, .ep_search_buttons, .ep_search_controls, .ep_search_controls_bottom 
{background-color: #f2f2f2 !important; border: 1px solid #d8d8d8 !important;}
th.ep_multi_heading {padding-top: 0.5em !important; padding-right: 0.5em !important;}
#documents\2e format_help_outer > table > tbody > tr > td,
#type_help_outer > table > tbody > tr > td,
#ispublished_help_outer > table > tbody > tr > td
{vertical-align: top !important; padding-left:0.8em !important; padding-top:0.8em !important;}
input.ep_form_text {margin-left:0.5em !important; margin-top:0.8em !important;}
td.ep_multi_input > div > div {margin-left:0.5em !important; margin-top:0.8em !important;}
table.ep_latest_tool_list td {vertical-align: top;}
div.ep_summary_box_body {padding-left:0.8em; padding-right:0.8em; padding-bottom:0.2em;}
div#ep_latest_panel_0, div#ep_latest_panel_1 {padding:0;}
div.ep_summary_content_main > div {font-size: 0.8em;}
h2 {margin-bottom: 0 !important;}
h2 + p {margin-top: 0 !important;}
div.ep_summary_content_main > table > tbody > tr > th {font-size: 13px !important; padding:0 1em 0 0 !important; vertical-align: top;}
div.ep_summary_content_main > table > tbody > tr > td {padding:0 !important; padding-top:1px !important; margin:0 !important; vertical-align: top;}

div.ep_summary_content_main > table > tbody > tr {padding-top: 0 !important; padding-left: 0 !important; padding-right: 0 !important; padding-bottom: 1em !important; vertical-align: top !important; border-bottom:solid 1px #d8d8d8;}
div.ep_summary_content_main > table.ep_summary_page_actions > tbody > tr {border:none;}
table.ep_summary_page_actions > tbody > tr >  td {vertical-align: center !important;}
table.ep_summary_page_actions a img {margin-right:0.5em;}
table.ep_summary_page_actions > tbody > tr > td:nth-child(2) {padding-top: 0.5em !important;}
div.panel {margin-top:0.5em; padding: 0.8em;}
#img.ep_form_action_icon {height:20px; width:20px; clear:none;}
#eplatest_0_inner > table > tbody > tr > td:nth-child(1),
#eplatest_1_inner > table > tbody > tr > td:nth-child(1) {display:none;}
#eplatest_0_inner > table > tbody > tr:nth-child(1) > td:nth-child(2)::before,
#eplatest_1_inner > table > tbody > tr:nth-child(1) > td:nth-child(2)::before {content: "1.";}
#eplatest_0_inner > table > tbody > tr:nth-child(2) > td:nth-child(2)::before,
#eplatest_1_inner > table > tbody > tr:nth-child(2) > td:nth-child(2)::before {content: "2.";}
#eplatest_0_inner > table > tbody > tr:nth-child(3) > td:nth-child(2)::before,
#eplatest_1_inner > table > tbody > tr:nth-child(3) > td:nth-child(2)::before {content: "3.";}
#eplatest_0_inner > table > tbody > tr > td:nth-child(2) {padding-left:0 !important;}
div.small-2.columns > a.button {box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);}
input.ep_form_search_advanced_link {color:#002246 !important;}
input.ep_form_search_advanced_link:hover {color:#0a4d46 !important;}
.ep_block {width: auto; margin: 0 auto !important; text-align: left !important;}
select#q_merge {margin-left: 0 !important;}
input, select {font-size:1em !important;}
label {font-size:1.3em !important;}
a.ep_document_link {width:68px; height: 52px; /*  display:block; clear:both; */}
img.ep_doc_icon {width:68px; height: 52px;}
table.ep_search_fields input {padding: 0 0.3em !important;}
select#divisions_merge {vertical-align: top;}
li {list-style-position: inside !important;color: #002246; margin-left:0.2em;}
div.ep_page > ul {margin-left:0; padding-left:0;}
.ep_page li {padding-bottom: 0.3em !important;}
div.ep_toolbox_content {color: #606060;}
div.ep_toolbox_content a {color: #002246 !important;}
table.ep_view_cols ep_view_cols_3 ul {margin-left:0 !important; padding-left:0 !important;}
table.ep_view_cols ep_view_cols_3 ul > li {list-style-position: inside !important;}
div.ep_view_intro {font-size:0.8em;}
table.ep_view_cols ul {margin-left: 0;}
table.ep_view_cols tr td {margin-left: 0; padding: 0 !important; vertical-align: top;}
div.ep_view_menu ul {margin-left: 0 !important;}
div.ep_summary_box_title a {font-size:0.8em;}
div.ep_block > form > select {font-size:0.8em !important;}
#ep_summary_box_1_bar a > img {padding-right: 0.3em;}
#ep_summary_box_1_colbar > a > img {padding-right: 0.3em;}
div.ep_search_controls {font-size: 0.8em;}
div.ep_search_controls > div > span {margin-top:1em !important;padding-top:1em !important;}
div.ep_summary_content_main > table > tbody > tr:last-child {border-bottom:none;}

/* Styles for Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari-Opera specific declarations here */
  .ep_multi_help img {
  	height: 14px !important;
  	width: 14px !important;
  	margin-right: 1em;
    margin-top: 0.3em;
	}
}


/* select {width: 56px !important;} */

/* Remove Send to ORA section 2017-06-27 */
div[epsection=oracheck_container] {display: none}

/* Fix keyword view 2018-07-19 */
.ep_view_page > p {position: static;}

/* School Branding colour changes and auto CSS overrides - 2018-11-28 */ 
ul#ep_latest_tabs.ep_tab_bar li.ep_tab_selected a, ul#ep_admin_tabs_tabs.ep_tab_bar li.ep_tab_selected a {background-color: #002246 !important; border-bottom: 1px #002246 solid !important;}
ul.ep_tab_bar > li.ep_tab_selected::before, ul.ep_tab_bar > li.ep_tab_selected:hover::before {border-left: 15px solid #002246 !important;}
table > tbody > tr > td > a, table > tbody > tr > td > a, table > tbody > tr > td > a:hover, p a, p:visited a, p a:hover  {color: #002246 !important;}
.footer-links a, .footer-links a:visited, .footer-links a:hover, .copyright a, .copyright a:visited, .copyright a:hover {color: #002246 !important;}
form#template_simple_search p a, form#template_simple_search p a:visited, form#template_simple_search p a:hover {color: #002246 !important;}
div.ep_page a, div.ep_page a:hover, div.ep_page a:visited {color: #002246 !important;}
div.ep_only_js a.button {color: white !important;}
div.ep_summary_box_title {background-color:#E9E3DA !important; border-color:#ccc !important;}
input.ep_form_action_button {background-color: #002246 !important; border: 1px solid #002246 !important;}